body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.register-container {
    background-color: rgba(212, 13, 146, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    color: #000000;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    color: #333;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    border-color: #e67e22;
}
.required::after {
    content: " *";
    color: rgb(8, 241, 8);
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e67e22;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #d35400;
}