body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.or-separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin: 20px 0;
}
.or-separator::before, .or-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.or-separator span {
    padding: 0 10px;
}
